{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": [],
  "importOrder": ["^@?\\w", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
